:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #885Cf6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
    flex-direction:column;
}

input, button {
 appearance: none;
 border: none;
 outline: none;
 background: none;    
}

#input-name, #input-email, #input-cnpj, #input-pais, #input-estado,
#input-cep, #input-description, #input-cpf, #input-idade, #input-comp {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

#new-submit:hover{
    opacity: 0.8;
}

#new-submit:active{
    opacity: 0.6;
}

#new-task-button {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-button:hover{
    opacity: 0.8;
}

#new-task-button:active{
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: var(--light);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    color: crimson;

}

.task .actions button:hover{
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

.artificio {
    display: none;
}